<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello world!</title>
  </head>
  <body>
    
    <table style="border-collapse: collapse; margin-top:30px">
     
        <thead>
        <tr>
       
         <td style="border: 1px solid;padding: 10px;background-color:#999594">
            Room
          </td>
          <td style="border: 1px solid;padding: 10px;background-color:#999594">
            Winner
          </td>
          <td style="border: 1px solid;padding: 10px;background-color:#999594">Date</td>
          </tr>
        </thead>
        <tbody>
        {{#each games}}

         <tr>
        
         <td style="border: 1px solid;padding: 10px">
            {{this.room_name}}
          </td>
          <td style="border: 1px solid;padding: 10px">
            {{this.pemenang}}
          </td>
          <td style="border: 1px solid;padding: 10px">{{this.updatedAt}}</td>
          </tr>

        {{/each}}
      
        </tbody>
    </table
    
  </body>
</html>
